node_modules/

# Environment variables
.env

# OS generated
**/__pycache__
**/.DS_Store
Thumbs.db
prototyping/**/*.*
!prototyping/**/
!prototyping/prototyping.ipynb
data/**/*.*
!data/**
**/.ipynb_checkpoints
/src/backend/opensky-api
bkp
config/opensky_login.yml
logs/*
!logs/.gitkeep
