node_modules/

# Environment variables
.env

# OS generated
**/.DS_Store
Thumbs.db
prototyping/**/*.*
!prototyping/**/
data/**/*.*
!data/**
**/.ipynb_checkpoints
/src/backend/opensky-api
bkp
config/opensky_login.yml
